:root{
  
    --primary-color: whitesmoke;
    --back-color: #09395a;
    --secondary-color: #28A745;
    --full-color: white;
    --null-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    overflow-x: hidden;
    
}

.container-fluid{
    height: 15vh;
    width: 100%;
    position: relative;
    background: var(--back-color);
    margin-top: -1.3vh;
    
}
.container-fluid img{
    height: 80%;
    width: 5%;
    border-radius: 20%;
}
.container-fluid span{
    margin-left: 1.5%;
}

.container-fluid span p{
    color: var(--full-color);
}

.navbar{
    background-color: var(--back-color) !important;
    height: 15vh;
}
.navbar-collapse{
    width: 60%;
    height: 100%;
    margin-left: 20%;
}

.navbar-collapse ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.navbar-collapse ul li a{
    color: var(--null-color) !important;
}

.navbar-collapse ul li a:hover{
    color: yellow !important;
}
.navbar-collapse ul li a.we-here{
    color: var(--full-color) !important;
}


.contact{
    padding: 1px 5px;
    background: var(--primary-color);
    border-radius: 20px;
}

.medideliver-logo{
    width: 100%;
    height: 70vh;
    background: url(medical-elements-composition-blue-cement-background.jpg);
    background-size: cover;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.medideliver-logo img{
    margin-top: 10vh;
    width: 20%;
    height: 50%;
    border-radius: 50%;
    box-shadow: 3px 3px 5px black;
}

.medideliver-logo p{
   font-size: 1.4rem;
   color: var(--full-color);
}

.medi_medicine{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}

.medi_medicine .medi_search{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.medi_search span.what{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}
.medi_search span.search_span{
    display: block;
    margin: 0 auto;
    height: 25%;
    width: 80%;
    position: relative;

}

span.search_span button{
    width: 100px;
    height: 90%;
    background: var(--secondary-color);
    border: 0;
    outline: none;
    border-radius: 25px;
    position: absolute;
    top: 6%;
    right: 2px;
    transition: ease 0.5s;
}
span.search_span button:hover{
    background: var(--back-color);
    color: var(--full-color);
}

.medi_search input.search-for{
    width: 100%;
    height: 100%;
    border-radius: 35px;
    box-shadow: 3px 3px 5px var(--null-color);
    border: 1px solid grey;
    outline: none;
    padding-left: 2%;
    padding-right: 40px;
   
}

.medi_doctor{
    width: 100%;
    height: 50%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.medi_doctor .medi_type{
    width: 15%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: all ease-in 0.1s;
}

.medi_type:hover{
    border: 1px solid grey;
    box-shadow: 3px 3px 3px black;
}

.medi_type img{
    width: 80%;
    height: 65%;
    border-radius: 10px;
    margin-top: 10px;
}
.medi_type p{
    color: green;
    margin-top: -10px;
}



.medi_rated{
    width: 100%;
    height: 50vh;
    position: relative;
    margin-bottom: 20vh;
    overflow: hidden;
    
}

.medi_rated .rated_section{
    height: 90%;
    width: 45%;
    position: absolute;
    top: 5%;
    left: 100%;
}

.rated_section img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

.hidden{
    display: none;
}

 
@media screen and (max-width: 1000px){
    .container-fluid img{
        width: 15%;
        height: 70%;
    }
    .navbar-collapse{
        
        position: absolute;
        top: 15vh;
        right: 0;
        width: 40%;
        height: 40vh;
        transition: ease-in-out 0.5s;
    }
    .navbar-collapse ul{
        background: yellow;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        z-index: 10;
       
    }
}